.containerHeader {
  height: 70px;
  padding-top: 13px;
  z-index: 99;
  @apply fixed top-0 right-0 left-0 bg-white;
}

.containerContent {
  width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  @apply mx-auto;
}

.content {
  min-height: 42px;
  @apply justify-between items-center
}

.columnContent {
  padding: 10px 15px 22px;
  @apply border-transparent hover:text-blue-400 cursor-pointer
}

.active {
  @apply border-b-4 border-blue-400 font-bold text-blue-400
}