.nowBanner {
  background-image: url('../../images/main-banner.jpg');
  @apply h-screen left-0 right-0 z-0 bg-cover
}

.container {
  width: 1200px;
  @apply pl-3.5 pr-3.5 mx-auto
}

.mainHome {}

/* now search */

.nowSearch {
  width: 470px;
  @apply text-white
}
.searchTitle{

}
.inputSearch{

}

.categoryFilter{
  
}