@tailwind base;
@tailwind components;
@tailwind utilities;

.cycle {
  shape-outside: circle();
  clip-path: circle();
}
.part-cycle {
  float: left;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
}
:root {
  --gradient-main: linear-gradient(100.42deg, #2c85ee 16.07%, #4fb5ff 79.2%);
  --primary-main: #1c8cf3;
  --primary-light: #25a0e226;
  --success: #49d05a;
  --warning: #f7a813;
  --error: #ea6363;
}
:root,
[data-theme='light'] {
  --background-paper: #ffffff;
  --background-default: #f5f7fa;
  --background-primary: #e6ebf4;
  --background-secondary: #ffffff;
  --very-contrast: #ffffff;
  --secondary-main: #566474;
  --secondary-dark: #d7dfec;
  --secondary-light: #566474;
  --text-primary: #566474;
  --text-secondary: #131c23;
  --text-header: #566474cc;
}
[data-theme='dark'] {
  --background-paper: #021c39;
  --background-default: #031527;
  --background-primary: #00244d;
  --background-secondary: #07111c;
  --very-contrast: #000000;
  --secondary-main: #7994c1;
  --secondary-dark: #293c4e;
  --secondary-light: #abcafe;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --text-header: #ffffffa6;
}
.curve-common {
  background: linear-gradient(to bottom, green 50%, red 50%);
}
.curve-shape1 {
  background: linear-gradient(to left, red 50%, transparent 50%);
}
.curve-shape2 {
  background: linear-gradient(to left, transparent 50%, green 50%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.rotate-animation {
  background: repeating-conic-gradient(
    from 45deg at 50% 50%,
    #ffffff 0deg 10deg,
    transparent 10deg 20deg
  );
  opacity: 0.01;
  animation: rotate 120s infinite linear;
}
.rotate-animation1 {
  background: repeating-conic-gradient(
    from 45deg at 50% 50%,
    #f7a813 0deg 10deg,
    transparent 10deg 20deg
  );
  opacity: 0.1;
  animation: rotate1 60s infinite linear;
}

/* header */
.header-box {
  .header-box-item {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.25s ease,
      visibility 0.25s ease;
  }
}
.header-box:hover {
  .header-box-item {
    opacity: 1;
    visibility: visible;
  }
}
.main-header-reference {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: 959px) {
    display: none;
  }
}
.header-close-icon {
  display: none;
  @media screen and (max-width: 959px) {
    display: flex;
  }
}
/* end header */
