@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
[data-theme='light'] {
  --grey-50: #ffffff;
  --grey-100: #566474;
  --black-50: #566474;
  --black-100: #ffffff;
  --black-150: #f5f7fa;
  --black-200: #e6ebf4;
  --black-250: #ffffff;
  --black-300: #ffffff;
  --black-350: #000000;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

[data-theme='dark'] {
  --grey-50: #1a1a1d;
  --grey-100: #7994c1;
  --black-50: #ffffff;
  --black-100: #000000;
  --black-150: #031527;
  --black-200: #212121;
  --black-250: #07111c;
  --black-300: #000000;
  --black-350: #ffffff;

  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-black-50: var(--black-50);
  --color-black-100: var(--black-100);
  --color-black-150: var(--black-150);
  --color-black-200: var(--black-200);
  --color-black-250: var(--black-250);
  --color-black-300: var(--black-300);
  --color-black-350: var(--black-350);

  --primary-main: #1c8cf3;
  --primary-light: #25a0e226;
  --success: #49d05a;
  --warning: #f7a813;
  --error: #ea6363;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.cycle {
  shape-outside: circle();
  clip-path: circle();
}
.part-cycle {
  float: left;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
}
.curve-common {
  background: linear-gradient(to bottom, green 50%, red 50%);
}
.curve-shape1 {
  background: linear-gradient(to left, red 50%, transparent 50%);
}
.curve-shape2 {
  background: linear-gradient(to left, transparent 50%, green 50%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.rotate-animation {
  background: repeating-conic-gradient(
    from 45deg at 50% 50%,
    #ffffff 0deg 10deg,
    transparent 10deg 20deg
  );
  opacity: 0.01;
  animation: rotate 120s infinite linear;
}
.rotate-animation1 {
  background: repeating-conic-gradient(
    from 45deg at 50% 50%,
    #f7a813 0deg 10deg,
    transparent 10deg 20deg
  );
  opacity: 0.1;
  animation: rotate1 60s infinite linear;
}

/* header */
.header-box {
  .header-box-item {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.25s ease,
      visibility 0.25s ease;
  }
}
.header-box:hover {
  .header-box-item {
    opacity: 1;
    visibility: visible;
  }
}
.main-header-reference {
  @media screen and (max-width: 959px) {
    display: none;
  }
}
.header-close-icon {
  display: none;
  @media screen and (max-width: 959px) {
    display: flex;
  }
}
/* end header */

.scrollable-item {
  border: 1px solid #f6f7fb;
  border-radius: 20px;
  padding: 40px 48px;
}
.scroll-academy-item {
  cursor: pointer;
  width: 200px;
  height: 52px;
  color: #7d88a6;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.scroll-academy-item-active {
  background-color: #f6f7fb;
  .scroll-academy-item-tag {
    background-color: #2069fa;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 100vw));
  }
}

.horizontal-scroll-animation {
  img {
    width: 100%;
    object-fit: cover;
  }
  .horizontal-scroll-animation-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    animation: slide auto linear;
    animation-timeline: scroll();
  }
  .horizontal-scroll-animation-wrapper figure {
    margin: 0;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100vw;
  }
  section {
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  .section-container {
    min-height: 100vh;
    background-color: rgba(38, 33, 120, 0.108);
  }
  .section-container .content {
    padding: 2rem;
  }
  .section-container .content h2,
  p {
    color: #000000;
  }
}

.gradient-tabs-border {
  background:
    radial-gradient(circle at 15% 0%, white 0%, transparent 30%),
    radial-gradient(circle at 85% 110%, white 0%, transparent 30%),
    radial-gradient(circle at center, white 0%, transparent 50%);
}
