.mainHome {
  margin-top: 50px;
  width: 670px;
}

@media (min-width: 1280px) {
  .nowSearch {
    transform: translateY(-40%);
  }
  .inputSearch {
    @apply py-5;
  }
  .categoryBtn {
    @apply py-1;
  }
}
