.containerHeader {
  height: 70px;
  padding-top: 13px;
  z-index: 99;
  @apply fixed top-0 right-0 left-0 bg-white;
}

.content {
  min-height: 42px;
  @apply justify-between items-center;
}

.columnContent {
  padding: 10px 15px 22px;
  @apply border-transparent hover:text-blue-400 cursor-pointer;
}

.active {
  @apply border-b-4 border-blue-400 font-bold text-blue-400;
}

.loginBut {
  padding: 7px 12px;
  @apply border rounded border-blue-400 text-blue-400 hover:text-white hover:bg-blue-400;
}

.dropBtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.dropdown {
  @apply relative inline-block;
}

.dropdownContent {
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  @apply hidden absolute bg-white z-10 rounded-2xl right-1/4;
}

.dropdownItem {
  padding: 12px 16px;
  @apply flex items-center justify-between text-black block rounded-2xl no-underline;
  @apply hover:bg-white hover:text-white hover:text-green-300;
}

.dropdown:hover .dropdownContent {
  @apply block;
}
